body {
  font-family: 'DM Serif Display', serif;
  font-family: 'Karla', sans-serif;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

/* burger menu */
#menu-toggle {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 2px solid #2C2830;
}

#menu-icon1,
#menu-icon2,
#menu-icon3 {
  width: 15px;
  border: 1px solid #2C2830;
  transition: .4s;
}

/* burger menu transitions */
#menu-toggle:checked+label #menu-icon1 {
  position: absolute;
  transform: rotate(45deg);
  /* Change color on click */
}

#menu-toggle:checked+label #menu-icon2 {
  display: none;
  /* Change color on click */
}

#menu-toggle:checked+label #menu-icon3 {
  transform: rotate(-45deg);
  /* Change color on click */
}

/* desktop header parts */
.nav {
  display: none;
}

/* .burger_menu  */
.header_button {
  display: none;
}

/* main parts */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
}

.contanier1_item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
  background: url(./Paths/mobile_1path.png) 0px -280px no-repeat, url(./Paths/mobile_2path.png) right 350px no-repeat;
  padding: 0 0 93px;
  background-color: #2D2641;
}

.avatars {
  width: 100%;
}

.desk_path1,
.desk_path2 {
  display: none;
}

.desk_avatars {
  display: none;
}

.main_texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  width: 86%;
  margin-top: 93px;
}

.humanizing {
  font-size: 48px;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.667px;
  margin: 0;
  color: #FFF;
}

.main_paragraph {
  font-size: 16px;
  font-family: Karla;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  color: #FFF;
}

.main_texts button {
  width: 146px;
  height: 40px;
  font-size: 13px;
  font-weight: 700;
  font-family: Karla;
  text-align: center;
  letter-spacing: 1.5px;
  border: 2px solid white;
  margin-top: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #FFF;
}

.main_texts button:hover {
  color: #2C2830;
  background-color: white;
}

.section2_1container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2_line {
  width: 150px;
  height: 1px;
  background: #C396C6;
}

.we_re {
  font-size: 48px;
  font-family: DM Serif Display;
  font-weight: 400;
  text-align: center;
  line-height: 48px;
  letter-spacing: -0.667px;
  margin: 40px 0 0;
  color: #2C2830;
}

.section2_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  width: 87%;
  margin: 80px 0 0;
}

.icon_containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.icon_head {
  font-size: 28px;
  font-family: DM Serif Display;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.389px;
  margin: 16px 0 0;
  color: #2C2830;
}

.icon_paragraph {
  font-size: 16px;
  font-family: Karla;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  color: #837D88;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 87%;
  padding: 72px 0;
  background: url(./Paths/mobile_3path.png) no-repeat top right;
  background-color: #2D2641;
}

.section3 h1 {
  font-size: 40px;
  font-family: DM Serif Display;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  letter-spacing: -0.556px;
  margin: 0;
  color: #FFF;
}

.section3 button {
  width: 160px;
  height: 40px;
  font-size: 13px;
  font-weight: 700;
  font-family: Karla;
  text-align: center;
  letter-spacing: 1.5px;
  border: 2px solid white;
  cursor: pointer;
  background-color: transparent;
  color: #FFF;
}

.section3 button:hover {
  color: #2C2830;
  background-color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 88px 0;
  margin: 140px 0 0;
  background: url(./Paths/footer_path.png) no-repeat top left;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.contact img {
  width: 112px;
}

.social_networks {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 24px;
  width: 144px;
}

#facebook, #twitter, #pinterest, #instagram {
  cursor: pointer;
  color: #837d88;
  transition: .4s;
}

#facebook:hover {
  color: #2C2830;
}

#twitter:hover {
  color: #2C2830;
}

#pinterest:hover {
  color: #2C2830;
}

#instagram:hover {
  color: #2C2830;
}

.footer_line {
  width: 87%;
  height: 1px;
  margin: 0;
  background: #DADADA;
}

.list_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  list-style: none;
  margin: 0;
}

li {
  font-size: 13px;
  font-family: Karla;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
  color: #2D2641;
}

li:hover {
  text-decoration: underline;
}

.headline {
  color: #837D88;
}

.seconder {
  margin: 20px 0 0;
}

/* responsive part */
@media (min-width: 1440px) {
  header {
    padding: 21px 168px;
  }

  label {
    flex-direction: row;
    justify-content: baseline;
    gap: 25px;
    width: auto;
    border: none;
    cursor: unset;
  }

  #menu-icon1,
  #menu-icon2,
  #menu-icon3 {
    display: none;
  }

  .nav {
    display: block;
    font-size: 13px;
    font-family: Karla;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: .4s;
    color: #837D88;
  }

  .nav:hover {
    color: #2C2830
  }

  .header_button {
    display: block;
    width: 146px;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    font-family: Karla;
    text-align: center;
    letter-spacing: 1.5px;
    border: 2px solid #2C2830;
    cursor: pointer;
    margin: 0 0 0 8px;
    background-color: transparent;
    transition: .4s;
    color: #2C2830;
  }

  .header_button:hover {
    color: white;
    background-color: #2C2830;
  }

  /* header done */

  /* main part and sections */
  main {
    gap: 150px;
  }

  /* section1 avatars image */

  .section1 {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 600px;
    background-color: #2D2641;
  }

  .avatars {
    display: none;
  }

  .desk_avatars {
    display: block;
    margin: 300px 0 0;
  }

  .desk_path_cont1 {
    position: absolute;
    right: 0;
  }

  .desk_path1,
  .desk_path2 {
    display: block;
  }

  .desk_path_cont2 {
    position: absolute;
    top: 413px;
    left: 0;
  }

  .contanier1_item1 {
    align-items: start;
    width: 540px;
    gap: 63px;
    padding: 0;
    background: unset;
  }

  .white_line {
    width: 150px;
    height: 1px;
    background-color: white;
  }

  .main_texts {
    align-items: start;
    text-align: start;
    width: 540px;
    margin: 0;
  }

  /* section2 */

  .section2 {
    display: flex;
    justify-content: center;
    margin: 150px 0 0;
  }

  .section2_1container {
    align-items: start;
    width: 1110px;
  }

  .we_re {
    font-size: 72px;
    text-align: start;
    line-height: 64px;
    letter-spacing: -1px;
    margin: 63px 0 0;
  }

  .section2_container {
    flex-direction: row;
    width: auto;
    gap: 30px;
    margin: 96px 0 0;
  }

  .icon_containers {
    align-items: start;
    width: 350px;
  }

  .icon_paragraph {
    text-align: start;
  }

  /* section3 */
  .section3 {
    flex-direction: row;
    justify-content: space-around;
    width: 1110px;
    padding: 69px 0;
    margin: 8px 0 0;
    background: url(./Paths/desktop.purple.cont_path.png) no-repeat top right;
    background-color: #2D2641;
  }

  .section3 h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.778px;
    text-align: start;
    width: 475px;
  }

  /* footer */
  footer {
    gap: 33px;
    padding: 64px 0;
    margin: 150px 0 0;
    background: url(./Paths/desktop_footer_path.png) no-repeat top left;
  }

  .contact {
    flex-direction: row;
    justify-content: space-between;
    width: 1110px;
  }

  .social_networks {
    gap: 10px;
  }

  .list_container {
    flex-direction: row;
    gap: 30px;
  }

  ul {
    width: 255px;
  }

  li {
    text-align: start;
  }
}